---
import Timelime from "./Timelime.astro";
import Projects from "./Projects.astro";
import About from "./About.astro";
import Navbar from "./Navbar.astro";
import Hamburguer from "../components/Hamburguer.astro";

const { TX } = Astro.props;
---

<div>
    <section class="intro">
        <div class="intro-nav">
            <div class="size space"></div>
            <header class="size">
                <Hamburguer />
                <Navbar data={TX} />
            </header>
        </div>
        <div class="intro-container">
            <div class="intro-person">
                <h1 class="name">Eric Chavarria.</h1>
            </div>
            <div class="intro-text">
                <h3 class="experience">{TX.intro["based"]}</h3>
                <span>{TX.intro["slogan"]}</span>
            </div>
        </div>
    </section>
    <Timelime data={TX.work_experience} title={TX.titles.experience} />
    <Projects data={TX.Projects} titles={TX.titles} ] />
    <!-- <About data={TX.about}  titles={TX.titles}/> -->
    <script>
        document.querySelector(".hamburger").addEventListener("click", () => {
            document.querySelector(".nav").classList.toggle("expanded");
        });
        document.querySelector(".nav").addEventListener("click", () => {
            document.querySelector(".nav").classList.toggle("expanded");
        });
    </script>
</div>
<style>
    .intro {
        height: 100vh;
        margin-top: 50px;
    }
    .intro-nav {
        display: flex;
        font-size: 20px;
    }
    .size {
        flex: 1;
    }
    .intro-container {
        display: flex;
        height: 100%;
        align-content: center;
    }
    .intro-person {
        flex: 65;
        background-image: url("../../public/EricChavarria.png");
        mask-image: linear-gradient(black 98%, transparent);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        height: 100%;
        font-size: 80px;
    }
    .name {
        width: 200px;
        font-size: 75px;
        margin-top: 18rem;
    }
    .name:after {
        content: "";
        display: block;
        width: 55px;
        height: 7px;
        margin-left: 5px;
        background-color: #051937;
    }
    .intro-text {
        height: 100%;
        font-size: 30px;
        flex: 35;
    }
    .experience {
        margin-top: 18rem;
    }
    @media screen and (max-width: 1000px) {
        .space {
            display: none;
        }
    }
    @media screen and (max-width: 1200px) {
        .intro-container {
            flex-direction: column;
            align-items: center;
        }
        .intro-person {
            width: 50%;
            padding-top: 40px;
        }
        .intro-text {
            margin-left: 20px;
            margin-bottom: 80px;
        }
        .intro {
            height: auto;
            margin-top: 10px;
        }
        .name {
            margin-top: 350px;
            font-size: 55px;
            -webkit-text-stroke: 1.5px #051937;
        }
        .experience {
            margin-top: 40px;
        }
    }
    @media screen and (max-width: 730px) {
        .intro-person {
            width: 100%;
            background-position: center;
            display: flex;
            justify-content: center;
        }
        .name {
            width: 70%;
            margin-top: 485px;
        }
    }
</style>
