---
import Timelime from "./Timelime.astro";
import Projects from "./Projects.astro";
import Navbar from "./Navbar.astro";
import Hamburguer from "../components/Hamburguer.astro";

const { TX } = Astro.props;
---

<div>
    <section class="intro">
        <div class="intro-nav">
            <div class="size space"></div>
            <header class="size">
                <Navbar data={TX} stylesNav="nav" />
                <Hamburguer>
                    <Navbar
                        data={TX}
                        stylesNav="hamburgerNav"
                        styleA="hamburger"
                    />
                </Hamburguer>
            </header>
        </div>
        <div class="intro-container">
            <div class="intro-person">
                <h1 class="name">Eric Chavarria.</h1>
            </div>
            <div class="intro-text">
                <h3 class="experience">{TX.intro["based"]}</h3>
                <span>{TX.intro["slogan"]}</span>
            </div>
        </div>
    </section>
    <Timelime data={TX.work_experience} title={TX.titles.experience} />
    <Projects data={TX.Projects} title={TX.titles.projects} ] />
</div>
<style>
    .intro {
        height: 100vh;
        margin-top: 50px;
    }
    .intro-nav {
        display: flex;
        font-size: 20px;
    }
    .size {
        flex: 1;
    }
    .intro-container {
        display: flex;
        height: 100%;
    }
    .intro-person {
        flex: 65;
        background-image: url("../../public/EricChavarria.png");
        background-repeat: no-repeat;
        background-position: right;
        height: 100%;
        font-size: 80px;
    }
    .name {
        width: 200px;
        margin-top: 180px;
        font-size: 75px;
    }
    .name:after {
        content: "";
        display: block;
        width: 55px;
        height: 7px;
        margin-left: 5px;
        background-color: #051937;
    }
    .intro-text {
        margin-top: 200px;
        font-size: 30px;
        flex: 35;
    }
    .experience {
        margin-bottom: 8px;
    }
    @media screen and (max-width: 1000px) {
        .space {
            display: none;
        }
    }
    @media screen and (max-width: 1200px) {
        .intro-container {
            flex-direction: column;
            align-items: center;
        }
        .intro-person {
            width: 50%;
            padding-top: 30px;
        }
        .intro-text {
            margin: 0 20px 80px 40px;
        }
        .intro {
            height: auto;
            margin-top: 10px;
        }
        .name {
            margin-top: 350px;
            font-size: 55px;
        }
    }
    @media screen and (max-width: 730px) {
        .intro-person {
            width: 100%;
            padding-top: 30px;
        }
    }
</style>
