---
const { data, title} = Astro.props;
---

<section>
    <header class="title" id="projects">{title}</header>
    {
        data.map((item) => (
            <div class="container">
                <div class="info-container">
                    <img
                        class="image-proyect"
                        alt={item.title}
                        src={item.imgr}
                    />
                </div>
                <div class="info-container info">
                    <h3 class="title-proyect">{item.title}</h3>
                    <div>
                        {item.stack.map((img) => (
                            <img class="image-stack" alt="icon" src={img} />
                        ))}
                    </div>
                    <p class="description">{item.description}</p>
                    <div>
                        {item.code && (
                            <a class="button" href={item.code} target="_blank">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="2"
                                    stroke="currentColor"
                                    class="size"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5"
                                    />
                                </svg>
                                code
                            </a>
                        )}
                        {item.page && (
                            <a class="button" href={item.page} target="_blank">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="size"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418"
                                    />
                                </svg>
                                preview Li{" "}
                            </a>
                        )}
                    </div>
                </div>
            </div>
        ))
    }
</section>
<style>
    .size {
        width: 20px;
        margin-right: 10px;
    }
    .container {
        display: flex;
        align-items: center;
    }
    .container div {
        flex: 1;
        margin: 15px 0;
    }
    .image-proyect {
        width: 450px;
        height: 250px;
        border-radius: 15px;
        object-fit: cover;
    }
    .info-container {
        width: 450px;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0 ;
    }
    .info {
        display: block;
    }
    .description {
        width: 100%;
        font-size: 18px;
    }
    .title {
        color: #051937;
        font-size: 40px;
        margin-bottom: 40px;
    }
    .title-proyect {
        color: #051937;
        font-size: 25px;
        margin-top: 0;
    }
    .button {
        background-color: #051937;
        color: azure;
        border-radius: 15px;
        padding: 8px 45px;
        border: none;
        display: flex;
        width: 80px;
        cursor: pointer;
    }
    .image-stack {
        margin: 0 10px;
        width: 40px;
        height: 40px;
    }
    @media screen and (max-width: 1000px) {
        .container {
            flex-direction: column;
        }
        .info-container {
            width: 90%;
        }
        .info {
            display: flex;
        }
        .image-proyect {
            width: 100%;
            height: auto;
        }

        .title {
            margin-left: 20px;
        }
    }
</style>
